.ojoSticker {
  position: relative;
  top: -30px;
  transform: scale(0.8);
}
.ojoSticker:hover {
  transform: scale(1);
  transition: transform 0.9s ease-in-out;
  z-index: 1;
  filter: drop-shadow(0px 0px 20px #d5b993);
}

.fraseRandom {
  background: linear-gradient(
    97deg,
    var(--Colores-Primary_Medium, #a28d70) 17.84%,
    var(--Colores-Primary_Light, #d5b993) 41.62%,
    var(--Colores-Primary_strong, #6f604d) 91.19%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "StarlightRune";
  font-size: clamp(2.5rem, 6vw, 6.875rem);
  font-style: normal;
  line-height: 1.1;
  padding-bottom: 3rem;
}

.botonInicio {
  width: 200px;
  margin-top: 30px;
  padding: 7px;
  align-items: center;
  border-radius: var(--Button-Button_radius, 300px);
  border: var(--Button-Default-Stroke, 3px) solid
    var(--Button-Default-Stroke_color, #d5b993);
  color: var(--Button-Default-Text_color, #d5b993);
  text-align: center;
  font-family: "StarlightRune";
  letter-spacing: 2px;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
}

.botonInicio:hover {
  background-color: #d5b993;
  color: #1b2628;
  cursor: pointer;
  transition: all 0.7s ease-in-out;
  box-shadow: 0px 0px 20px #d5b993;
}

@media (max-width: 768px) {
  .ojoSticker {
    top: -100px;
  }

  .fraseRandom {
    font-size: clamp(2rem, 6vw, 5.875rem);
    padding-bottom: 2rem;
  }
  .botonInicio {
    width: 150px;
    font-size: 24px;
    line-height: 40px;
    margin-top: 80px;
  }
}
