.ojoSticker {
  display: block;
  justify-items: center;
  margin: 0 auto;
  position: relative;
  top: -100px;
}

.fraseRandom {
  background: linear-gradient(
    97deg,
    var(--Colores-Primary_Medium, #a28d70) 17.84%,
    var(--Colores-Primary_Light, #d5b993) 41.62%,
    var(--Colores-Primary_strong, #6f604d) 91.19%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  font-family: "StarlightRune";
  font-size: 110px;
  font-style: normal;
  font-weight: 400;
  line-height: 100px;
  padding-bottom: 90px;
}

.botonInicio {
  width: 200px;
  margin-top: 30px;
  padding: 7px;
  align-items: center;
  border-radius: var(--Button-Button_radius, 300px);
  border: var(--Button-Default-Stroke, 3px) solid
    var(--Button-Default-Stroke_color, #d5b993);
  color: var(--Button-Default-Text_color, #d5b993);
  text-align: center;
  font-family: "StarlightRune";
  letter-spacing: 2px;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
}

.botonInicio:hover {
  background-color: #d5b993;
  color: #1b2628;
  cursor: pointer;
  transition: all 0.7s ease-in-out;
  box-shadow: 0px 0px 20px #d5b993;
}
