.pantalla-oraculo {
  width: 100%;
  min-height: 100vh;
  gap: 1rem;
}

.eyeSticker {
  margin-bottom: 60px;
}

.h1screenoraculo {
  font-family: "StarlightRune", serif;
  text-align: center;
  font-size: clamp(2.5rem, 7vw, 6.875rem);
  font-style: normal;
  line-height: 1;
  padding-bottom: 30px;
  background: linear-gradient(
    97deg,
    var(--Colores-Primary_Medium, #a28d70) 17.84%,
    var(--Colores-Primary_Light, #d5b993) 41.62%,
    var(--Colores-Primary_strong, #6f604d) 91.19%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h2 {
  color: #d5b993;
  font-family: "Playfair";
  font-size: clamp(1.25rem, 4vw, 2rem);
  font-style: normal;
  line-height: 1;
  
}

.cajaPregunta {
  width: 100%;
  max-width: 556px;
  height: auto;
  padding: 1.25rem 2rem;
  margin: 2rem 0;
  border-radius: 14px;
  border: 3px solid #ccb47f;
  background: #ffffff21;
  color: #ccb47f;
  font-family: "Playfair Display", serif;
  font-size: clamp(1.25rem, 4vw, 1.875rem);
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
}

.cajaPregunta:hover {
  background: #ffffff;
  color: #000;
  cursor: pointer;
  transition: all 0.7s ease-in-out;
}

.botonPreguntar {
  width: 12rem;
  margin-top: 30px;
  padding: 0.5rem;
  border-radius: var(--Button-Button_radius, 300px);
  border: var(--Button-Default-Stroke, 3px) solid
    var(--Button-Default-Stroke_color, #d5b993);
  color: var(--Button-Default-Text_color, #d5b993);
  text-align: center;
  font-family: "StarlightRune", serif;
  letter-spacing: 2px;
  font-size: clamp(1.25rem, 3vw, 1.875rem);
  line-height: 3rem;
}

.botonPreguntar:hover {
  background-color: #d5b993;
  color: #1b2628;
  cursor: pointer;
  transition: all 0.7s ease-in-out;
  box-shadow: 0px 0px 20px #d5b993;
}

@media (max-width: 768px) {
  .pantalla-oraculo {
    padding: 1rem;
  }

  .eyeSticker {
    margin-bottom: 10px;
    transform: scale(0.6);
  }

  .cajaPregunta {
    width: 80%;
    padding: 1.3rem;
    font-size: clamp(1rem, 4vw, 1.5rem);
    transform: scale(0.8);
  }

  .h1screenoraculo {
    font-size: 55px;
  }

  .botonPreguntar {
    width: 10rem;
    font-size: clamp(1rem, 3vw, 1.5rem);
    line-height: 2.5rem;
    margin-top: 50px;
    transform: scale(0.8);
  }
}
