.h1Respuesta,
.RespuestaTexto {
  font-family: "StarlightRune", serif;
  font-size: clamp(2.5rem, 6vw, 6.875rem);
  background: linear-gradient(
    97deg,
    var(--Colores-Primary_Medium, #a28d70) 17.84%,
    var(--Colores-Primary_Light, #d5b993) 41.62%,
    var(--Colores-Primary_strong, #6f604d) 91.19%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 1;
}

.Pregunta {
  line-height: 1.2;
  
}

.Pregunta::first-letter {
  text-transform: uppercase;
}

.RespuestaBola {
  z-index: 1;
  filter: drop-shadow(0px 0px 20px #d5b993);
}

@media (max-width: 768px) {
  .h1Respuesta,
  .RespuestaTexto {
    font-size: 55px;
  }
}
