@import "tailwindcss";

.creditos {
  position: absolute;
  bottom: 90px;
  font-family: monospace;
  font-size: 0.6rem;
  opacity: 0;
  transition: opacity 0.7s ease;
  color: transparent;
  cursor: pointer;
}
.creditos:hover {
  opacity: 1;
  color: #d5b993;
}

@media (max-width: 768px) {
  html,
  body {
    margin: 0;
    padding: 0;
    overflow-y: hidden;
    overscroll-behavior: none;
  }

  .app-screen {
    height: 100dvh;
    overflow-y: hidden;
  }

  .creditos {
    display: none;
  }
}
