@font-face {
  font-family: "StarlightRune";
  src: url("./assets/fonts/starlight-rune-font.woff2") format("woff2"),
    url("./assets/fonts/starlight-rune-font.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #1b2628;
}

.upperClouds {
  position: fixed;
  top: 3px;
  left: 50%;
  width: 95%;
  transform: translateX(-50%);
  max-width: 100%;
  opacity: 0.8;
  pointer-events: none;
}

.fondoEstrellas {
  position: fixed;
  margin-top: 20px;
  width: 70%;
  pointer-events: none;
}

.underClouds {
  position: fixed;
  bottom: 3px;
  left: 50%;
  width: 95%;
  transform: translateX(-50%);
  max-width: 100%;
  opacity: 0.9;
  pointer-events: none;
}
